<div *ngIf="artDetailsResponse !== undefined; else loading" class="art-details-container animate__animated animate__fadeIn">
    <app-art-details-image [webImage]="artDetailsResponse!.artObject.webImage"></app-art-details-image>
    
    <div class="art-content container">
        <div class="content art-details has-box-shadow">
            <app-art-details-piece-info [artObject]="artDetailsResponse!.artObject" [artObjectPage]="artDetailsResponse!.artObjectPage"></app-art-details-piece-info>
        </div>
        <div class="content art-statistics has-box-shadow">
            <h1>Piece Statistics</h1>
            <app-art-colors-graph [artDetailsResponse]="artDetailsResponse"></app-art-colors-graph>
        </div>
    </div>
</div>

<ng-template #loading>
    Loading...
</ng-template>