<div class="filter-container">

    <div class="filter">
        <div class="filter-header">
            <div class="filter-header-title">
                Filters
            </div>
            <div class="filter-header-actions">
                <button (click)="showMatches()">
                    <mat-icon class="left">search</mat-icon> 
                    <span>Show Matches</span>
                </button>
                <button (click)="closeFilter()">
                    <mat-icon class="left">close</mat-icon> 
                    <span>Close</span>
                </button>
            </div>
        </div>
    
        <div class="filter-body">
            <div class="filter-item">
                <h4>Principal Maker</h4>
                <ng-select [items]="principalMakers" 
                            bindLabel="key" 
                            bindValue="key" (change)="changeSelect($event, 'involvedMaker')"
                            [(ngModel)]="selectedFilter.involvedMaker">
                </ng-select>
            </div>
            <div class="filter-item">
                <h4>Type</h4>
                <ng-select [items]="types" 
                            bindLabel="key" 
                            bindValue="key" (change)="changeSelect($event, 'type')"
                            [(ngModel)]="selectedFilter.type">
                </ng-select>
            </div>
            <div class="filter-item">
                <h4>Dating Period</h4>
                <ng-select (change)="changeSelect($event, 'datingPeriod')" [(ngModel)]="selectedFilter.datingPeriod">
                    <ng-option *ngFor="let period of datingPeriod" [value]="period">{{period.key + 'th century'}}</ng-option>
                </ng-select>
            </div>
            <!-- <div class="filter-item">
                <h4>Place</h4>
                <ng-select [items]="places" 
                            bindLabel="key" 
                            bindValue="key" (change)="changeSelect($event, 'place')"
                            >
                </ng-select>
            </div> -->
            <div class="filter-item">
                <h4>Material</h4>
                <ng-select [items]="materials" 
                            bindLabel="key" 
                            bindValue="key" (change)="changeSelect($event, 'material')"
                            [(ngModel)]="selectedFilter.material">
                </ng-select>
            </div>
            <div class="filter-item">
                <h4>Technique</h4>
                <ng-select [items]="techniques" 
                            bindLabel="key" 
                            bindValue="key" (change)="changeSelect($event, 'technique')"
                            [(ngModel)]="selectedFilter.technique">
                </ng-select>
            </div>
            
            <div class="filter-item">
                <h4>Sort by</h4>
                <ng-select 
                    (change)="changeSelect($event, 'sort')"
                    [items]="sortOptions"
                    bindLabel="label"
                    bindValue="key"
                    [(ngModel)]="selectedFilter.sort">
                </ng-select>
            </div>

            <div class="filter-item">
                <h4>Color</h4>
                <app-color-filter 
                    [colorList]="normalized32ColorsHex" 
                    [selectedColor]="selectedFilter.normalized32ColorHex"
                    (colorSelected)="changeSelect($event, 'normalized32ColorHex')">
                </app-color-filter>
            </div>
        </div>
    </div>
    
</div>