<div class="filter-container">

    <div class="filter">
        <div class="filter-header">
            <div class="filter-header-title">
                Filters
            </div>
            <div class="filter-header-actions">
                <button (click)="showMatches()">
                    <mat-icon class="left">search</mat-icon> 
                    <span>Show Matches</span>
                </button>
                <button (click)="closeFilter()">
                    <mat-icon class="left">close</mat-icon> 
                    <span>Close</span>
                </button>
            </div>
        </div>
    
        <div class="filter-body">
            <div class="filter-item">
                <h4>Principal Maker</h4>
                <ng-select [items]="principalMakers" 
                            bindLabel="key" 
                            bindValue="value" (change)="changeSelect($event, 'involvedMaker')">
                </ng-select>
            </div>
            <div class="filter-item">
                <h4>Type</h4>
                <ng-select [items]="types" 
                            bindLabel="key" 
                            bindValue="value" (change)="changeSelect($event, 'type')">
                </ng-select>
            </div>
            <div class="filter-item">
                <h4>Dating Period</h4>
                <ng-select (change)="changeSelect($event, 'datingPeriod')" [(ngModel)]="selectedFilter.datingPeriod">
                    <ng-option *ngFor="let period of datingPeriod" [value]="period">{{period.key + 'th century'}}</ng-option>
                </ng-select>
            </div>
            <div class="filter-item">
                <h4>Place</h4>
                <ng-select [items]="places" 
                            bindLabel="key" 
                            bindValue="value" (change)="changeSelect($event, 'place')">
                </ng-select>
            </div>
            <div class="filter-item">
                <h4>Material</h4>
                <ng-select [items]="materials" 
                            bindLabel="key" 
                            bindValue="value" (change)="changeSelect($event, 'material')">
                </ng-select>
            </div>
            <div class="filter-item">
                <h4>Technique</h4>
                <ng-select [items]="techniques" 
                            bindLabel="key" 
                            bindValue="value" (change)="changeSelect($event, 'technique')">
                </ng-select>
            </div>
            <div class="filter-item">
                <h4>Color</h4>
                <app-color-filter 
                    [colorList]="normalized32ColorsHex" 
                    [selectedColor]="selectedFilter.normalized32ColorHex"
                    (colorSelected)="changeSelect($event, 'normalized32ColorHex')">
                </app-color-filter>
            </div>
            
            <div class="filter-item">
                <h4>Sort by</h4>
                <ng-select (change)="changeSelect($event, 'sort')">
                    <ng-option [value]="''">Default</ng-option>
                    <ng-option [value]="'relevance'">Relevance</ng-option>
                    <ng-option [value]="'objecttype'">Type of Work</ng-option>
                    <ng-option [value]="'chronologic'">Oldest first</ng-option>
                    <ng-option [value]="'achronologic'">Newest first</ng-option>
                    <ng-option [value]="'artist'">Artist (a-z)</ng-option>
                    <ng-option [value]="'artistdesc'">Artist (z-a)</ng-option>
                </ng-select>
            </div>
        </div>
    </div>
    
</div>