.art-details-img-container {
  overflow: hidden;
  position: relative;
}
.art-details-img-container img {
  max-width: 100%;
}
.art-details-img-container button,
.art-details-img-container a {
  padding: 15px 20px;
  background-color: rgba(78, 78, 78, 0.8);
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  text-decoration: none;
  line-height: 24px;
  display: grid;
  grid-template-columns: 24px calc(100% - 24px);
  grid-gap: 5px;
}
.art-details-img-container .search-button {
  position: absolute;
  top: 50px;
  left: 5%;
}
.art-details-img-container .full-screen-button {
  position: absolute;
  bottom: 50px;
  right: 5%;
}
