<div 
class="art-details-img-container" 
[style.height]="webImage!.height > maxHeight ? '80vh' : webImage!.height + 'px'"
[style.background]="'url('+webImage!.url+') 100%'">
    <!-- <img src="{{artDetailsResponse!.artObject.webImage.url}}" alt="{{artDetailsResponse!.artObject.title}}"/> -->
    <button class="search-button" (click)="back()"> 
        <mat-icon aria-hidden="false" aria-label="open_in_new">chevron_left</mat-icon>
        Back to Search
    </button>
    <a class="full-screen-button" href="{{webImage!.url}}" target="_blank">
        <mat-icon aria-hidden="false" aria-label="open_in_new">open_in_new</mat-icon>
        View Image
    </a>
</div>