.filter-button {
  display: inline-block;
  width: 80px;
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  vertical-align: top;
  height: 57px;
}
.filter-button .mat-icon {
  vertical-align: middle;
}
